<div class="content-fluid">
  <div class="row">
    <!-- Card -->
    <div class="card testimonial-card">

      <!-- Bacground color -->
      <div class="DashboardProfileCard-bg u-bgUserColor u-block" style="background-size: 100%;
      height: 95px;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      background-position: 0 50%;
      width: 100%;
      padding: 0;
      margin-top: -1px;
      background-color: #1DA1F2 !important;">
        <div class="row">
          <p>

          </p>
        </div>
      </div>

      <!-- Avatar -->


      <div class="card-body">
        <!-- Name -->
        <div class="row">

        </div>
        
        <div class="row">
          <div class="col-4">
            <div class="avatar mx-auto white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle imgLogo">

            </div>
          </div>
          <div class="col-8">
            <h4 class="card-title nameTitulo">Ricardo Sauceda</h4>
            <p style="font-size: 14px;
            color: #657786;">@RiSauceda95</p>
          </div>

        </div>
        <!-- Quotation -->
        <div class="row">
          <div class="col-4">
            <span class="tituleProfile">Twetts</span>
            <p class="numerosProfile">20</p>
          </div>
          <div class="col-4">
            <span class="tituleProfile">Siguiendo</span>
            <p class="numerosProfile">240</p>
          </div>
          <div class="col-4">
            <span class="tituleProfile">Seguidores</span>
            <p class="numerosProfile">560</p>
          </div>
        </div>

      </div>

    </div>
    <!-- Card -->
  </div>

  <div class="row tendencias">
      <!-- Card -->
      <div class="card testimonial-card">
  
        <!-- Bacground color -->
        <div class="card-up indigo lighten-1">
          <div class="row"></div>
        </div>
  
        <!-- Avatar -->
  
  
        <div class="card-body">
          <!-- Name -->
          <div class="row">
  
          </div>
         
          <div class="row">
           <div class="col-12">
              <h3><span class="trend-location js-trend-location tendenciasTitle">Tendencias para ti</span></h3>
              <ul class="trend-items js-trends" style="list-style-type:none;padding-left: 0px;">
                  <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#DiaInternacionalDeLaCerveza" data-trends-id="-6026309692764352668" data-trend-token=":tailored_request:hashtag_trend:taxi_worldwide_source:moments_metadescription:moments_badge:">
          
              <a class="pretty-link js-nav js-tooltip u-linkComplex" href="/hashtag/DiaInternacionalDeLaCerveza?src=tren&amp;data_id=tweet%3A1025343021426999296" data-query-source="trend_click" data-original-title="">
                <span class="u-linkComplex-target trend-name Tendecias" dir="ltr">#DiaInternacionalDeLaCerveza</span>
          
                
                <div class="js-nav trend-item-context"></div>
                  <div class="js-nav trend-item-stats">
                    11 datos sobre la cerveza para impresionar a tus amigos
                  </div>
              </a>
          
          </li>
          
                  <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#BuenViernes" data-trends-id="-6026309692764352668" data-trend-token=":tailored_request:hashtag_trend:taxi_worldwide_source:tweet_count_10000_100000_metadescription:">
          
              <a class="pretty-link js-nav js-tooltip u-linkComplex" href="/hashtag/BuenViernes?src=tren" data-query-source="trend_click" data-original-title="">
                <span class="u-linkComplex-target trend-name Tendecias" dir="ltr">#BuenViernes</span>
          
                
                <div class="js-nav trend-item-context"></div>
                  <div class="js-nav trend-item-stats">
                    28,2&nbsp;mil Tweets
                  </div>
              </a>
          
          </li>
          
                  <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#facebookdown" data-trends-id="-6026309692764352668" data-trend-token=":tailored_request:hashtag_trend:taxi_worldwide_source:tweet_count_1000_10000_metadescription:">
          
              <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/facebookdown?src=tren" data-query-source="trend_click">
                <span class="u-linkComplex-target trend-name Tendecias" dir="ltr">#facebookdown</span>
          
                
                <div class="js-nav trend-item-context"></div>
                  <div class="js-nav trend-item-stats">
                    8.740 Tweets
                  </div>
              </a>
          
          </li>
          
                  <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#FelizFinde" data-trends-id="-6026309692764352668" data-trend-token=":tailored_request:hashtag_trend:taxi_country_source:tweet_count_10000_100000_metadescription:">
          
              <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/FelizFinde?src=tren" data-query-source="trend_click">
                <span class="u-linkComplex-target trend-name Tendecias" dir="ltr">#FelizFinde</span>
          
                
                <div class="js-nav trend-item-context"></div>
                  <div class="js-nav trend-item-stats">
                    21,4&nbsp;mil Tweets
                  </div>
              </a>
          
          </li>
          
                  <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#ChilesEnNogadaPuebla" data-trends-id="-6026309692764352668" data-trend-token=":tailored_request:hashtag_trend:taxi_worldwide_source:">
          
              <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/ChilesEnNogadaPuebla?src=tren" data-query-source="trend_click">
                <span class="u-linkComplex-target trend-name Tendecias" dir="ltr">#ChilesEnNogadaPuebla</span>
          
                
                <div class="js-nav trend-item-context"></div>
                  <div class="js-nav trend-item-stats">
                    
                  </div>
              </a>
          
          </li>
          
                  <li class="trend-item js-trend-item  context-trend-item" data-trend-name="José Luis Higuera" data-trends-id="-6026309692764352668" data-trend-token=":tailored_request:entity_trend:taxi_worldwide_source:">
          
              <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/search?q=%22Jos%C3%A9%20Luis%20Higuera%22&amp;src=tren" data-query-source="trend_click">
                <span class="u-linkComplex-target trend-name Tendecias" dir="ltr">José Luis Higuera</span>
          
                
                <div class="js-nav trend-item-context"></div>
                  <div class="js-nav trend-item-stats">
                    
                  </div>
              </a>
          
          </li>
          
                  <li class="trend-item js-trend-item  context-trend-item" data-trend-name="José Antonio Meade" data-trends-id="-6026309692764352668" data-trend-token=":tailored_request:entity_trend:taxi_worldwide_source:moments_metadescription:moments_badge:">
          
              <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/search?q=%22Jos%C3%A9%20Antonio%20Meade%22&amp;src=tren&amp;data_id=tweet%3A1025426066209427456" data-query-source="trend_click">
                <span class="u-linkComplex-target trend-name Tendecias" dir="ltr">José Antonio Meade</span>
          
                
                <div class="js-nav trend-item-context"></div>
                  <div class="js-nav trend-item-stats">
                    Se reunieron AMLO y Meade
                  </div>
              </a>
          
          </li>
          
                  <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#DíaDeLaCerveza" data-trends-id="-6026309692764352668" data-trend-token=":tailored_request:hashtag_trend:taxi_country_source:tweet_count_1000_10000_metadescription:">
          
              <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/D%C3%ADaDeLaCerveza?src=tren" data-query-source="trend_click">
                <span class="u-linkComplex-target trend-name Tendecias" dir="ltr">#DíaDeLaCerveza</span>
          
                
                <div class="js-nav trend-item-context"></div>
                  <div class="js-nav trend-item-stats">
                    4.613 Tweets
                  </div>
              </a>
          
          </li>
          
                  <li class="trend-item js-trend-item  context-trend-item" data-trend-name="Víctor Manuel &quot;N&quot;" data-trends-id="-6026309692764352668" data-trend-token=":tailored_request:entity_trend:taxi_country_source:">
          
              <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/search?q=%22V%C3%ADctor%20Manuel%20%22N%22%22&amp;src=tren" data-query-source="trend_click">
                <span class="u-linkComplex-target trend-name Tendecias" dir="ltr">Víctor Manuel "N"</span>
          
                
                <div class="js-nav trend-item-context"></div>
                  <div class="js-nav trend-item-stats">
                    
                  </div>
              </a>
          
          </li>
          
                  <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#AbortoÉCrime" data-trends-id="-6026309692764352668" data-trend-token=":tailored_request:hashtag_trend:taxi_worldwide_source:tweet_count_10000_100000_metadescription:">
          
              <a class="pretty-link js-nav js-tooltip u-linkComplex " href="/hashtag/Aborto%C3%89Crime?src=tren" data-query-source="trend_click">
                <span class="u-linkComplex-target trend-name Tendecias" dir="ltr">#AbortoÉCrime</span>
          
                
                <div class="js-nav trend-item-context"></div>
                  <div class="js-nav trend-item-stats">
                    53&nbsp;mil Tweets
                  </div>
              </a>
          
          </li>
          
              </ul>
           </div>
  
          </div>
          <!-- Quotation -->
          <div class="row">
            <div class="col-4">
              
            </div>
            <div class="col-4">
          
            </div>
            <div class="col-4">
             
            </div>
          </div>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
</div>

