<div class="container">
    <!-- este es el input  -->
    <div class="row">
        <div class="col-12 containerMensaje">
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <img src="https://i.pinimg.com/originals/f1/c4/13/f1c41366c037155251e8c15cd411835b.png" class="rounded-circle" alt="Cinque Terre" width="32" height="32">
                </div>
                <div class="col-10" style="padding-right:0px">
                    <input style="height:36px" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group-prepend" style="height:36px; ">
                    <span style="background:white;color:#4EB5F5" class="input-group-text" id="basic-addon1"><i class="far fa-image"></i></span>
                </div>
            </div>
        </div>
    </div>
    <!-- este es el twit -->
    <div class="row">
        <div class="col-12 " style="padding-top:9px">
            <div class="row">
                <!-- aqui va la imagen de usuario -->
                <div class="col-2" style="background:white; padding-right: 0px;">
                    <div class="input-group-prepend">
                        <img src="https://i.pinimg.com/originals/f1/c4/13/f1c41366c037155251e8c15cd411835b.png" class="rounded-circle" alt="Cinque Terre" width="70" height="69">
                    </div>
                </div>
                <!-- aqui va el contenido del twit -->
                <div class="col-10 " style="background: white;padding-right: 0px;">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">

                                <div class="col-10 ">
                                    <div class="row ">
                                        <a class="col-4 textUser deletePadding deleteMagin">HoracioChairez</a>
                                        <p class="col-3 textNick deletePadding deleteMagin">@Chairezard</p>
                                        <p class="col-2 textTime deletePadding deleteMagin">1 min</p>
                                    </div>
                                </div>
                                <div class="col-1" style="padding-right: 0px;text-align: right;">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class=" col-12 deletePadding">
                            Este es un Texto harcodeado el cual solo es un template Este es un Texto harcodeado el cual solo es un template
                        </div>
                        <div class="col-12 ">
                            <div class="row">
                                <div class="col-6 deletePadding">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="far fa-comment"></i>
                                        </div>
                                        <div class="col-3">
                                            <i class="fas fa-retweet"></i>
                                        </div>
                                        <div class="col-3">
                                            <i class="far fa-heart"></i>
                                        </div>
                                        <div class="col-3">
                                            <i class="far fa-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>